<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul>
    <li class = "nav-item">
      <a routerLink="Home" routerLinkActive="active" class="nav-link" >Home</a>
    </li>
     <li class = "nav-item">
        <a routerLink="canciones" routerLinkActive="active" class="nav-link" >Lista de canciones</a>
     </li>
     <li class = "nav-item">
      <a routerLink="create-cancion" routerLinkActive="active" class="nav-link" >Agrega tu cancion</a>
    </li>
  </ul>

</nav>


<div class= "container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <span>Asi como suena </span>
  </div>
</footer>
